{
  "zt": "example-token-here",
  "id": {
    "key": "pem:-----BEGIN EC PRIVATE KEY-----\n...\n-----END EC PRIVATE KEY-----",
    "cert": "pem:-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----",
    "ca": "pem:-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"
  },
  "configTypes": [],
  "tags": {}
}
